<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <title>Document</title>
  </head>
  <body>
    <% include ./nav.ejs %>
    <div class="Rw">
      <div class="Col">
        <img src="https://www.w3schools.com/w3images/underwater.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/ocean.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/wedding.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/mountainskies.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/rocks.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/underwater.jpg" />
        <p>image</p>
      </div>
      <div class="Col">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/rocks.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/falls2.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/paris.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/nature.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/mist.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/paris.jpg" />
        <p>image</p>
      </div>
      <div class="Col">
        <img src="https://www.w3schools.com/w3images/underwater.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/ocean.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/wedding.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/mountainskies.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/rocks.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/underwater.jpg" />
        <p>image</p>
      </div>
      <div class="Col">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/rocks.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/falls2.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/paris.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/nature.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/mist.jpg" />
        <p>image</p>
        <img src="https://www.w3schools.com/w3images/paris.jpg" />
        <p>image</p>
      </div>
    </div>
  </body>
</html>
