<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div style="font-size: 20px;">
      <a href="/feed">feed</a>
      <a href="/register">register</a>
      <a href="/login">login</a>
      <a href="/logout">logout</a>
      <a href="/profile">profile</a>
    </div>
  </body>
</html>
